/* Common css for all pages */
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #00a8ff;}
a:hover{text-decoration: underline;}
ul{
  list-style: none; 
   margin: 0; 
   padding: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}
label{
  display: block;
}
ul.tabs{
  margin: 20px 0;
}
.form-item{
  margin: 10px 0;
}
.form-text{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    outline: none;
}
.hide{display: none;}
.form-submit{
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  height: 34px;
}
body{
  font: 14px/18px Arial;
  color: #484848;
  margin: 0;
}
#page{
  margin: 30px auto;
  max-width: 1024px;
}
#header{
  border-bottom: 5px solid #428BCA;
  padding: 5px 0 10px;
}
#header > section, #navigation section{
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
.header-top-right{
  float: right;
}
.messages{
  padding: 10px;
  color: red;
  border: 1px dashed;
  margin: 20px 0;
}
.sidebar-first .sidebars{
  float: left; 
  width: 26%;
}
.sidebar-first #content{
  margin-left: 28%;
}
#secondary-menu h2{
  display: none;
}
.submitted{
  color: #999; 
  font-size: 12px;
}
#header #secondary-menu{
  float: right;
  margin: 0 0 25px;
}
#name-and-slogan{
  display: inline-block; 
  vertical-align: top; 
  margin: 30px 0 0 10px;
  font-size: 32px;
}
#name-and-slogan a{
  color: #357ebd;
  text-decoration: none;
}
#header #secondary-menu ul.links{list-style: none; text-align: right; margin: 0; padding: 0;}
#header #secondary-menu ul.links li{display: inline-block; vertical-align: top; position: relative;}
#header #secondary-menu ul.links li a{color: #999; display: block; padding: 0 10px;}
#header #secondary-menu ul.links li a:before{content:"|"; position: absolute; top: 0; left: -3px; color: #999;}
#header #secondary-menu ul.links li:first-child a:before{content:"";}
#block-system-user-menu h2{display: none;}
#block-system-user-menu ul{list-style: none; margin: 0; padding: 0;}
#block-system-user-menu ul li a{display: block; padding: 5px 10px; color: #666; background-color: #eee; border-top: 1px solid #fefefe;}
#block-system-user-menu ul li a:hover{ text-decoration: none;}

#navigation{
  
}
#navigation nav ul li{
  margin: 10px 3px; 
  padding: 0; 
  display: inline-block; 
  vertical-align: top;
}
#navigation nav ul li a:hover{text-decoration: none;}
#block-user-login .form-item{margin: 10px 0;}
.sidebar-first .sidebars #block-search-form input[type="text"], .sidebar-first .sidebars #block-search-form .form-submit{
  height: 32px; 
  padding: 5px;
  font-size: 13px;
  line-height: 18px;
}
.sidebar-first .sidebars #block-search-form .form-submit{
  height: 32px; 
  padding: 5px;
}

/* CSS for tabs */
.tabs.primary li{
  display: inline-block; vertical-align: top; 
}
.tabs.primary li a, #navigation nav ul li a{
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}